.header {
    padding-top: 40px; 
    padding-bottom: 60px;
    margin-bottom: -168px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; 
}

.logo {
    width: 68px;
 
}

.phone {
    color: var(--main-bright);    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.phone__value {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 24px;
    min-width: 140px;
    outline: 1px solid transparent;
    transition: color .2s ease, outline .2s ease, border-color .2s ease; 
}

.phone__link {
    font-size: 16px;
    line-height: 21px;
    outline: 1px solid transparent;
    border-bottom: 1px solid var(--main-bright);
    transition: color .2s ease, outline .2s ease, border-color .2s ease; 
    text-align: center;
}

.phone__number {
    outline: 1px solid transparent;
    transition: color .2s ease, outline .2s ease;
    font-size: 24px;
}

.phone__icon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #555A7B;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
    cursor:pointer;
    outline: 1px solid transparent;
    transition: background-color .2s ease, outline .2s ease;
}

.phone__icon:active {
    background-color: var(--secondary);
}


.phone__value:hover, .phone__link:hover,
.phone_.phone__value:active, .phone__link:active {
    color: var(--secondary);
    border-color: var(--secondary);

}

.phone__value:focus , .phone__link:focus {
    outline: 1px solid var(--secondary);
}


.hero {
    padding-top: 228px;
    padding-bottom: 120px;   
    background:linear-gradient( rgba(47, 50, 75, 0.55),  rgba(47, 50, 75, 0.55)), url(./img/hero-back.png);
    background-position:left 0 top 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--main-bright); 
}

.hero__container {
    text-align: center;   
    color: var(--main-bright);  
}

.main__title {
    z-index: 5;
    line-height: normal;
    color: var(--main-bright);
    font-weight: 900;
    font-size: 52px;
    text-align: center;
    margin-bottom: 31px;
}

.hero__link {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 50px;
    padding: 12px 48px;   
    background-color: var(--secondary);
    outline: 2px solid transparent;
    transition: background-color .2s ease;  
}

.hero__link:hover, .hero__link:active{
    background-color: var(--btn-hover);
}

.hero__link:focus{
    outline: 2px solid var(--btn-hover);
}

.section {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    padding: 0 12px;
    
}

.hero__content {
    max-width: 960px;
    margin: 0 auto 91px;   
    color: var(--main-bright);
    opacity: 75%;
    letter-spacing: 1px;
}

.about {
    color: var(--main-dark);
    padding: 70px 0;
}

.section__title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    
}

.section__subtitle {
    font-weight: 500;
    font-size: 22px;
    text-align: center;    
    
    
}



.section__subtitle_place_about {
    margin-bottom: 35px;
}

.section__subtitle_place_contact {
    opacity: 80%;   
    margin-bottom: 50px;
   
}

.section__subtitle_place_about::before {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 43px;
    border-bottom: 2px solid var(--main-dark);
    position: relative;
    right: 23px;
    top: 0;
}

.section__subtitle_place_about::after {
    content: "";
    vertical-align: middle;
    display: inline-block;
    width: 43px;
    border-bottom: 2px solid var(--main-dark);
    position: relative;
    left: 23px;
    top: 0;
}

.about__content{
    margin: 0 auto 59px;
    max-width: 724px;
    color: #383a4c;
}
 .text {     
    font-weight: 400;
    font-size: 20px;
    line-height: 148%;
    text-align: center;       
    }

.about__content .text{
    line-height: 25px;
    font-size: 18px;
}

.about__list {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 958px;
    counter-reset: li;
    
}

.about__list-item {
    list-style: decimal;
    display: flex;
    flex-direction: column;
   align-items: center;
   gap:17px;   
   font-weight: 500;
   font-size: 20px;
   max-width: 220px;
   line-height: 129%;
}

.about__list-item::before{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 57px;
    content: counter(text);
    counter-increment: li;
    content: counter(li);
    border-radius: 50%;
    color: var(--main-bright);
    background-color:  var(--secondary);
    width: 120px;
    height: 120px;
 
}

.section__title_place_about {
     margin-bottom: 25px; 
}

.section__title_place_contact {
    margin-bottom: 17px; 
    padding-right: 23px;
}


.contact {
    padding: 74px 0;
    content:"";
    background-image:linear-gradient(rgba(47, 50, 75, 0.55), rgba(47, 50, 75, 0.55)),
    url(./img/contact-back.png);
    background-position: top left;
    /* background-size: 50%; */
    background-repeat: no-repeat;
    background-size: cover;
   
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.form__fieldset {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    min-width: 426px;
    margin-bottom: 50px;
   
}
.form__input {
    font-weight: 400;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.5);
    text-align:left;
    padding: 9px 25px;
    border-radius: 50px;
    width: 100%;
    background-color: inherit;
    border: 1.38px solid #fff;
    outline: 1px solid transparent;
}

.form__input:focus {
    border-color: var(--secondary);
}

.form__button {
    padding: 11px 40px;
    background-color: var(--secondary);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    text-transform: lowercase;
    border-radius: 50px;  
    outline: 2px solid transparent;
    transition: background-color .2s ease;  
    margin-bottom: 50px;
}

.form__agree{
font-size: 20px;
font-weight: 400;
}

.form__agree-link {
    color:#4A76A8;
    border-bottom: 2px solid #4A76A8;
    transition: border-color .2s ease, color .2s ease; 
}

.form__button:hover, .form__button:active{
    background-color: var(--btn-hover);
}

.form__button:focus{
    outline: 2px solid var(--btn-hover);
}

.form__agree-link:hover {
    color: var(--main-bright);
    border-color: var(--main-bright);
}




.footer__container {
   
    /* background:  linear-gradient(to bottom, #2f324b 60%, #2a2c3f 40%); */
   
    display: flex;
    align-items: center;
    
    flex-basis: 700px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    gap:15px;
    justify-content: space-between;
    align-items: center;
    
}

.footer {
    padding: 40px 160px ;
    background: #2f324b;
}

.footer__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
    max-width: 220px;
}


.footer__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}



.footer__developer {   
    font-weight: 500;
    font-size: 12px;
    padding-right: 11px;
       
}
.footer__developer-link{
    margin-left: 3px;
    outline: 1px solid transparent;
    transition: color .2s ease, outline .2s ease;
}

.footer__developer-link:hover, 
.footer__developer-link:active  {
    color:var(--secondary)
}

.footer__developer-link:focus {
    outline: 1px solid var(--secondary);
}
